
<div class="container" style="margin-top:50px">
    <div class="panel panel-primary">
        <div class="panel-body">
            Image Upload
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="file" class="btn btn-md" file-model="myFile"/>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-md" ng-click = "uploadFile()">upload me</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top:50px">
    <div class="panel panel-primary">
        <div class="panel-header">
            Select Images to panoramic View
        </div>
        <div class="panel-body">
            <ol>
                <li data-ng-repeat="img in picture_list">
                    <img data-ng-src='/static/common/img/{{img}}' alt="Smiley face" height="200" width="200" />
                </li>
            </ol>
        </div>
        <div class="panel-footer">


        </div>
    </div>
</div>
