<!DOCTYPE html>
<html lang="en" data-ng-app="sampleApp">
    <head>
        {%csrf_token%}
        {% include "scripts.html" %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlueBasket</title>
    </head>

    <body>
      <div app-view-segment="0"></div>
    </body>

    <footer>
     </footer>
</html>
