<link rel="shortcut icon" href="/static/img/favicon.png">

<script src="/static/bower_components/jquery/dist/jquery.js"></script>

<!-- Angular GS -->
<script src="/static/bower_components/angular/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>


<link rel="stylesheet" href="/static/bower_components/angular-calendar/dist/calendar.css">
<!-- Angular GS -->

<!-- JQuery -->
<link type="text/css" href="/static/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.js"></script>
<!-- JQuery -->

<!-- jsrender -->
<script type="text/javascript" src="/static/bower_components/jsrender/jsrender.js"></script>
<!-- jsrender -->

<!-- Angular Route Segment -->
<script type="text/javascript" src="/static/bower_components/angular-route-segment/build/angular-route-segment.js"></script>
<!-- Angular Route Segment -->

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
<!-- Optional theme -->
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css">
<!-- Latest compiled and minified JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Bootstrap -->
<!-- Custom styles for this template -->
<!-- link rel="stylesheet" href="/static/common/css/custom.css" -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<!-- Date Time Picker -->
<!-- link rel="stylesheet" href="/static/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css">
<script src="/static/bower_components/moment/min/moment.min.js"></script>
<script src="/static/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script<!--  -->
<!-- Date Time Picker -->

<script src="/static/main.js"></script>
<script src="/static/common/js/bluebasket.js"></script>
<script src="/static/common/js/myAccountCtrl.js"></script>
<script src="/static/common/js/SampleCtrl.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.2.0/angular-file-upload.js"></script>
